<div id="book-detail">
  <div class="book-info clearfix">
    <img ng-src="{{ book.cover }}">
    <h1>{{ book.name }}</h1>
    <p>By {{ book.author.name }}</p>
    <p class="description">{{ book.description }}</p>
    <dl>
      <dt>Categories:</dt>
      <dd><span ng-repeat="item in book.genre">{{ item }}<span ng-if="!$last">, </span></span></dd>
      <dt>Votes:</dt><dd>{{ book.likes }}</dd>
      <dt>Publish date:</dt><dd>{{ book.published|date }}</dd>
    </dl>
  </div>
  <hr>
  <h2>Introduction</h2>
  <p ng-repeat="intro in book.introduction">{{ intro.content }}</p>
  <div class="author">
    <p><img class="img-circle" ng-src="{{ book.author.avatar }}"></p>
    <p>Written by <strong>{{ book.author.name }}</strong></p>
  </div>
  <hr>
  <h2>Similar reading</h2>
  <ul class="list-columns">
    <li class="col-sm-6 col-md-4" ng-repeat="item in reccomended">
      <book-list-item></book-list-item>
    </li>
  </ul>
</div>
